*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* upper row with title and 3 buttons*/

.customers_header{
    display: flex;
    justify-content: space-between;
}
.top_row button{
    border-radius: 100px;
    background-color: white;
    border-color: rgb(247, 247, 247);
    float: right;   
    border-style:groove;
    border-width: 1px;

}
.top_row text{
    font-size: 35px;
}
.top_button{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_button text{
    
    color: white;
    font-size: 18px;
}
.top_button i{
    
    color: white;
    font-size: 18px;
}
.top_button_plus{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_button_plus i{
    
    color: white;
    font-size: 18px;
}

/*lower div with customers*/

.customers_row{
    height: 50px;
    width: 90%;
    background-color: rgb(230, 230, 230);
    margin: 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.customer_icon{
    background-color: black;
    border-radius: 100px;
    height: 35px;
    width: 35px;
    align-self: center;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.customer_icon i{
    color: #f4f4f4;
}

.customer_name{
    font-weight:bold!important;
    color: black;
    font-size: 18px;
}
.customer_mail{
    font-weight: lighter!important;
    color: gray;
    font-size: 14px;
}
.customer_phone{
    font-weight:lighter!important;
    color: black;
    font-size: 16px;
}

.placing_buttons{
    display: flex;
}

/* media query*/

@media only screen and (max-width: 1200px){
    .top_button{
        width: 96px;
        height: 32px;
        border-radius: 30px;
        background-color: black;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top_button text{
        
        color: white;
        font-size: 18px;
    }
    .top_button i{
        
        color: white;
        font-size: 18px;
    }
}
@media only screen and (max-width: 1024px){
    .top_row text{
        font-size: 25px;
        margin-top: -1%;
    }
   
    .top_button i {
        font-size: 12px;

    }
    .top_button{
        width: 60px;
        height: 20px;
        border-radius: 30px;
        background-color: black;
        margin-right: 5%px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top_button text{
        color: white;
        font-size: 12px;
    }
    .top_button i{
        
        color: white;
        font-size: 12px;
    }

    /* plus jest osobno*/
    .top_button_plus{
        width: 20px;
        height: 20px;
        border-radius: 30px;
        background-color: black;
        margin-right: 50px;
        margin-left: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top_button_plus i{
        
        color: white;
        font-size: 12px;
    }


    .customer_icon{
        width: 24px;
        height: 24px;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 2px;
        
    }
    .customer_icon i{
        font-size: 14px;
    }
    
    .customer_name{
        font-size: 14px;
        margin-right: 5px;
    }
    .customer_phone{
        font-size: 12px;
    }
    .customer_mail{
        font-size: 12px;
    }
    
    .containter{
        height: 140px;
        width: 230px;
    }
    .info_icon{
        height: 30px;
        width: 30px;
        }
    .info_icon i {
        font-size: 15px;
        }
    .edit_icon{
        height: 30px;
        width: 30px;
            }
    .edit_icon i {
        font-size: 15px;
            }
    .delete_icon{
        height: 30px;
        width: 30px;
            }
    .delete_icon i {
        font-size: 15px;
            }
    .transactions_row{
        height: 70px;
                }
    .customers_row{
        height: 70px;
                }
    
    
}
/**/
@media only screen and (max-width: 600px){
    .top_row text{
        font-size: 16px;
        margin-top: -1%;
        margin-left: 5%;
        font-weight: lighter!important;
        letter-spacing: 1px;
    }
   
    .top_button i {
        font-size: 8px;
    }

    .top_button{
        width: 50px;
        height: 16px;
        border-radius: 30px;
        background-color: black;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: lighter!important;

    }
    .top_button text{
        color: white;
        font-size: 8px!important;
    }
    .top_button i{
        color: white;
        font-size: 8px;
    }

    /* plus jest osobno*/
    .top_button_plus{
        width: 14px;
        height: 14px;
        border-radius: 30px;
        background-color: black;
        margin-left: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top_button_plus i{
        
        color: white;
        font-size: 8px;
    }

    .customer_icon{
        width: 18px;
        height:18px;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 2px;
        
    }
    .customer_icon i{
        font-size: 10px;
    }
    
    .customer_name{
        font-size: 11px;
        margin-right: 5px;
    }
    .customer_phone{
        font-size: 10px;
    }
    .customer_mail{
        font-size: 9px;
    }
    
    .containter{
        height: 100px!important;
        width: 150px!important;
    }
    .info_icon{
        height: 15px;
        width: 15px;
        }
    .info_icon i {
        font-size: 10px;
        }
    .edit_icon{
        height: 15px;
        width: 15px;
            }
    .edit_icon i {
        font-size: 10px;
            }
    .delete_icon{
        height: 15px;
        width: 15px;
            }
    .delete_icon i {
        font-size: 10px;
            }
    .customers_row{
        height: 70px;
                }
}
