
.title_row{
    height: 80px;
    width: 90%;
    margin: 20px;
    border-radius: 8px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#title{
    font-size: 48px;
    float: left;
    padding: 8px 16px;
    text-align: left!important;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

#plus{
    background-color: #000000;
    border-radius: 70%;
    color: white;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(218, 216, 216);
}

#plus:hover{
    opacity: 0.8;
}

#toptext1{
    float: left;
    margin-left: 600px;
    margin-top: 20px;
    background-color: #000000;
    color:#FFFFFF;
    padding: 5px 24px;
    border-radius:25px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(218, 216, 216);
}

#toptext1:hover{
    background-color: #CCC;
    color:#000000;
    border: 1px solid #666;
}

#toptext2{
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 24px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(218, 216, 216);
}

#toptext2:hover{
    background-color: #CCC;
    color:#000000;
    border: 1px solid #666;
}

.customers_row1{
    height: 50px;
    width: 90%;
    background-color: rgb(230, 230, 230);
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.customers_row_next{
    height: 50px;
    width: 90%;
    background-color: rgb(230, 230, 230);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#profile{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

#corp_name{
    font-weight: bold;
}
#mail{
    font-weight: lighter;
    color: grey;
}
#phone_number{
    font-weight: lighter;
    color: grey;
}
#grey{
    background-color: rgb(122, 122, 122);
    color: #FFFFFF;
    height:25px;
    width:25px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    vertical-align: middle;
}
#grey:hover{
    opacity: 0.9;
}
#yellow{
    background-color: rgb(224, 161, 44);
    color: #FFFFFF;
    height:25px;
    width:25px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    margin-left: 5px;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    align-items: center;
}
#yellow:hover{
    opacity: 0.8;
}
#red{
    background-color: rgb(200, 58, 58);
    color: #FFFFFF;
    height:25px;
    width:25px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    margin-left: 5px;
    cursor: pointer;
    align-self: center;
    justify-content: center;
    align-items: center;
}
#red:hover{
    opacity: 0.8;
}

.adds{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
